<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540325963767-gfnr5222dfjgb86m3664ahp7nvg253s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540325963767-gfnr5222dfjgb86m3664ahp7nvg253s7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqi3U4-UMNo8c6l5ij24owbuXmO_DytGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>540325963767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gonnot.projectVoiceRecognition</string>
	<key>PROJECT_ID</key>
	<string>projectvoicerecognition</string>
	<key>STORAGE_BUCKET</key>
	<string>projectvoicerecognition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540325963767:ios:673dec1b2e1ca4ab86f0f2</string>
</dict>
</plist>